{% extends 'Sf2MCQCoreBundle::base.html.twig' %}
{% block body %}
	<div class="one">
		<div class="intro-pages">
			<h3>Commencer le test <span class="colored">{{ interview.name }}</span></h3>
		</div>
	</div>
{% endblock %}
