<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"> 
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		<title>{% block title %}Sf2MCQ{% endblock %}</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/script.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<div class="center">
				<div id="container">
					<div id="header">
						<a id="logo" title="Homepage" href="index.html">
							<img src="/images/logo.png" alt=" " width="250" height="60"/>
						</a>
						<div id="main_navigation" class="main-menu "> 
							{% block navigation %}
								<ul> 
									<li><a href="{{ path('homepage') }}" title="Home">Home</a></li> 
									<li><a href="#">Features</a>
								</ul>
							{% endblock %}
						</div>
					</div>
					<div id="content">
						{% block body %}{% endblock %}
					</div>
					<div id="copyright"> 
						<div class="one-fourth">
						<h5>© Copyright 2011</h5>
						<p>All Rights Reserved:<a href="http://themeforest.net/user/trendyWebStar">trendyWebStar</a><br/>
						<a href="#">Terms of Service</a> / <a href="#">Privacy Policy</a>
						</p> 
						</div>
						<div class="one-fourth">
						<h5>Contact Info</h5>
						<p>
							Phone: +987 654 321 000<br/> Fax: +123 0120 30456<br/> E-Mail: <a href="mailto:#">your-mail@your-site.com</a>
						</p>
						</div>
						<div class="one-fourth">	
						<h5>Stay in Touch</h5>
							<ul class="social-links">
								<li><img src="/images/facebook.png" width="16" height="16" alt="#"/><a href="#">Our Facebook page</a></li> 
								<li><img src="/images/twitter.png" width="16" height="16" alt="#"/><a href="#">Follow us on Twitter</a></li> 
								<li><img src="/images/rss.png" width="16" height="16" alt="#"/><a href="#">Our RSS Feeds</a></li> 	 
							</ul> 
						</div>
						<div class="one-fourth last">
							<h5>Latest Tweets</h5>
							<div class="tweet"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
